article{
    outline: 4px solid black;
}

article a{
    color: red;
}

article a > b{
    color: green;
}

h3 + p{
    background-color: aqua;
}

p + p{
    background-color: yellow;
}

h3 ~ p{
    border: 5px dashed pink;
}

.destaque{
    padding-left: 2rem;
}

p:not(.destaque){
    font-size: 1.5em;
}
